.about {
  display: flex;
  /* flex-direction: column; */
  background-color: purple;
}

.about-section {
  /* object-fit: contain; */
  margin: 0px 22px 0px 22px;
}

.about-header {
  /* font-size: 24px; */
  font-weight: bold;
  /* padding-top: 40px;
  padding-bottom: 10px;
  line-height: 1.29; */
}

.about-paragraph {
  /* font-size: 16px;
  font-weight: 100;
  line-height: 1.5; */
}
