.topdishes-main {
  display: flex;
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.topdishes-section {
  margin: 0px 40px 0px 40px;
}

.topdishes-image {
  width: 270px;
  height: 270px;
}
